/*---------------------------------------------------------- imports */
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded:100,200,300,400,500,600,700,800,900,1000');
@import url('https://fonts.googleapis.com/css?family=Karla');
/*-------------------------------------------------------- Header section */
.header-image-contain {
    width: 100%;
}
/*----------------------------------------------------- menu section */
navigation{
    background-color: #4d4d4d;
    padding: 0px;
    margin: 0px;
}
#nav {
    margin: 0;
}
#nav li {
    padding: 0;
    border-radius: 5px;
}
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}
.menuitem a i {
    padding-top: 25px;
    display: block;
    color: white;
    font-size: 26px;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}
.menu-item1{
    background-color:  #99bbff;
}
.menu-item2{
    background-color:  #ff751a;
}
.menu-item3{
    background-color:  #ff1aff;
}
.menu-item4{
    background-color:  #47d147;
}
body {
    background-color: #4d4d4d;
}
