/* imports */

@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded:100,200,300,400,500,600,700,800,900,1000');
@import url('https://fonts.googleapis.com/css?family=Karla');

/* /imports */

/* Header section */

header {
    background-color: #4d4d4d;
}

.header {
    display: block;
   
    
}

.jjpg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* /Header section */

/* menu section */

navigation{
    background-color: #4d4d4d;
    padding: 0px;
    margin: 0px;
}

.ss{
    display: block;
    
}
.menu-item1{
    background-color:  #99bbff;
}

.menu-item2{
    background-color:  #ff751a;
}

.menu-item3{
    background-color:  #ff1aff;
}

.menu-item4{
    background-color:  #47d147;
}

.menu1{
    display: inline-block;
    width: 100%;
    
}
    
.mitem{
    text-decoration: none;
    display: block;
    height: 80px;
    text-align: center;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.mitem:hover{
    background-color: rgba(0, 0, 0, 0.3);
    
}

.mitem a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    height: 80px;
}

.mitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 20px;
    text-align: center;
}

.mitem span{
    display: block;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
/* /menu section */

/* info section */
dsc {
    background-color: #4d4d4d;
    margin: 0px;
    padding: 0px;
}
.binfo {
    background-color: #4d4d4d;
    display: block;
    padding: 18px;
    margin-left: 25%;
    margin-right: 25%;
    
}

.pinfo {
    background-color: #4d4d4d;
    display: block;
    color: #b3b3ff;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/* /info section */

/* iframe section */
.frame {
    background-color: #4d4d4d;
    border: none;
    margin: 0px;
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}

/* /iframe section */




/* END OF INDEX PAGE */



.whole {
    background-color: #4d4d4d;
}

/* UNDERPAGES */

/* about */

.wholeband {
    display: block;
}

.wholeband-img{
    padding: 5px;
    float: left; 
}

.wholeband-txt{
    font-family: "Karla", sans-serif;
    font-size: 14px;
    color: #fafafa;
}

.member {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    color: #fafafa;
}